<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <h1 style="text-align: center;">Welcome to site</h1>
    <section>
        <h2>Новинки</h2>
        <p>Обновите свой образ жизни с нашими последними поступлениями:</p>
        <ul>
            <li>Умные гаджеты для дома</li>
            <li>Модная одежда и аксессуары</li>
            <li>Электроника нового поколения</li>
        </ul>
    </section>

    <section>
        <h2>Акции и скидки</h2>
        <p>Не упустите шанс сэкономить на покупках:</p>
        <ul>
            <li>Скидка 20% на все товары категории "Аксессуары"</li>
            <li>Бесплатная доставка при заказе от 2000 рублей</li>
        </ul>
    </section>

    <section>
        <h2>Контакты</h2>
        <p>Свяжитесь с нами, если у вас есть вопросы или предложения:</p>
        <address>
            Email: info@yourstore.com<br>
            Телефон: +7 (123) 456-7890
        </address>
    </section>
</body>
</html>